<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545178034865-2snvj79jfiq3k6hld6s3qpvureue5gkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545178034865-2snvj79jfiq3k6hld6s3qpvureue5gkl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545178034865-r749pf01na0gbh5j72jpgjmp22e45bil.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5bVF1SdqohrA5gj2VyNztGwJNJQKXHh0</string>
	<key>GCM_SENDER_ID</key>
	<string>545178034865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rusui.provider</string>
	<key>PROJECT_ID</key>
	<string>yoyaku-mate-provider</string>
	<key>STORAGE_BUCKET</key>
	<string>yoyaku-mate-provider.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545178034865:ios:44b6c022f29247163df890</string>
</dict>
</plist>